*{
  margin: 0;
  padding: 0;
}
h1{
  text-align: center;
}
#round{
  text-align: center;
  font-size: 40px;
}
#round-col{
  /*color: red;*/
}

/*--------myself-side---------*/
.myself-side{
  width: 450px;
  margin-left: 50px;
  float: left;
  /*background-color: red;*/
  padding-left: 60px;
}
.myself-side h2{
  text-align: center;
  font-size: 40px;
}
.select{
  text-align: center;
  list-style: none;
  font-size: 0;
}
.select li{
  font-size: 24px;
  display: inline-block;
}
.select li input{
  margin-right: 4px;
    background-color: #4CAF50; /* Green */
    border: 1px solid green;
    color: white;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
}
#btn-reset{
  margin-right: 4px;
    background-color: #f44336; /* Red */
    border: 1px solid red;
    color: white;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
}

.myself-side table{
  width: 200px;
  margin: 20px auto 0;
  display: block;
}
#win-num{
  margin-left: 6px;
}

/*-------VS-rogo------*/
.fight-rogo{
  width: 100px;
  float: left;
  margin: 200px 10px;
  position: relative;
  /*background-color: pink;*/
}
#result-text{
  font-size: 50px;
  letter-spacing: .2em;
}
.fight-rogo input{
  position: absolute;
  top:150px;
  left:0;
  background-color: #008CBA; /* Blue */
  border: 1px solid blue;
  color: white;
  padding: 10px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 12px;
}

/*--------enemy-side---------*/
.enemy-side{
  width: 450px;
  float: left;
  /*background-color: blue;*/
  padding-left: 50px;

}
.enemy-side h2{
  text-align: center;
  font-size: 40px;
}
.lose-num-box table{
  width: 200px;
  margin: 55px auto 0;
  display: block;
}
#lose-num{
  margin-left: 6px;
}

/*--------common--------*/
#img-stone{
  display: block;
}
#img-paper{
  display: none;
}
#img-scissors{
  display: none;
}
